/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
 body
	{
		background: yellow;
	}
	
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    body {
        font-size: 13px;
    }
	
	
	
	.topLine-menu
	{
		margin: auto;
	}
  
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}